/* *{margin: 0;
padding: 0;} */
body{
    background-color: #111;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style:oblique;
    color: rgb(234, 234, 21);
    text-align: center;
}
h3{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-style:oblique; */
    color: rgb(234, 234, 21);
    margin-top: 20px;
    margin-bottom:10px;
}
li{
    color: rgb(231, 231, 241);
    font-size: 18px;
    padding: 2px;
    line-height: 2;
}
ul li{
    list-style: square;
}
img {
    display: block;
    margin: 10px auto;
    border-radius: 10px; /* smooth rounded corners */
}
p {
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 15px auto;
    width: 70%;
    line-height: 1.5;
}
.container{
    max-width: 800px;
    background-color: #222;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255,255,255,0.2);
}

.box{
    display: grid;
    gap: 2px;

}